

body {
    background-color: rgb(228, 201, 243);
}
.product-form { 
    display: block; 
    width: 100%; 
    text-align: center; 
}
.product-index { 
    display: flex; 
    justify-content: center; 
}
.product-index a { 
    text-decoration: none; 
}